{
  "allowAdminCommands" : {{ getenv "STARBOUND_ALLOW_ADMIN_COMMANDS" "true" }},
  "allowAdminCommandsFromAnyone" : {{ getenv "STARBOUND_ALLOW_ADMIN_COMMANDS_FROM_ANYONE" "false" }},
  "allowAnonymousConnections" : {{ getenv "STARBOUND_ALLOW_ANONYMOUS_CONNECTIONS" "true" }},
  "anonymousConnectionsAreAdmin" : {{ getenv "STARBOUND_ANONYMOUS_CONNECTIONS_ARE_ADMIN" "false" }},
  "audioChannels" : 2,
  "bannedIPs" : [],
  "bannedUuids" : [],
  "clearPlayerFiles" : false,
  "clearUniverseFiles" : false,
  "clientIPJoinable" : true,
  "clientP2PJoinable" : false,
  "configurationVersion" : {
    "basic" : 2,
    "server" : 4
  },
  "crafting" : {
    "filterHaveMaterials" : false
  },
  "gameServerBind" : "*",
  "gameServerPort" : {{ getenv "STARBOUND_GAME_PORT" "21025" }},
  "interactive" : true,
  "inventory" : {
    "pickupToActionBar" : true
  },
  "maxPlayers" : {{ getenv "STARBOUND_MAX_PLAYERS" "8" }},
  "maxTeamSize" : {{ getenv "STARBOUND_MAX_TEAM_SIZE" "8" }},
  "monsters" : {
    "damageOnTouch" : true
  },
  "playerBackupFileCount" : 3,
  "queryServerBind" : "*",
  "queryServerPort" : {{ getenv "STARBOUND_QUERY_PORT" "21025" }},
  "rconServerBind" : "*",
  "rconServerPassword" : "{{ getenv "STARBOUND_RCON_PASSWORD" "" }}",
  "rconServerPort" : {{ getenv "STARBOUND_RCON_PORT" "21026" }},
  "rconServerTimeout" : 1000,
  "runQueryServer" : false,
  "runRconServer" : false,
  "safeScripts" : true,
  "scriptInstructionLimit" : 10000000,
  "scriptInstructionMeasureInterval" : 10000,
  "scriptProfilingEnabled" : false,
  "scriptRecursionLimit" : 100,
  "serverName" : "{{ getenv "STARBOUND_SERVER_NAME" "BipOps Starbound Server" }}",
  "serverUsers" : {
    "admin" : {
      "admin" : true,
      "password" : "{{ getenv "STARBOUND_SERVER_ADMIN_PASSWORD" "" }}"
    },
    "player" : {
      "admin" : false,
      "password" : "{{ getenv "STARBOUND_SERVER_PLAYER_PASSWORD" "" }}"
    }
  },
  "tutorialMessages" : true,
  "useDefaultWorldCoordinate" : false
}
